h1 {
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: hsl(350, 100%, 95%);
}

li {
    font-family: 'Times New Roman', Times, serif;

    background-color: violet;
}

h2 {
    background-color: aquamarine;
}

p {
    background-color: forestgreen;
}

h3 {
    background-color: darkgoldenrod;
}